$font-family:'Hind Siliguri', sans-serif;
$textColor: #3D4F5C;
$white: #FFFFFF;
$complementary-green: #46B8C8;
$background-color: #FBFAFA;
$primary-orange: #FB8958;
$form-background: #FFC351;
$footer-background: #FBFBFA;
$footer-text: #939393;


